In [2]:
import pandas as pd

In [6]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
# ans: 
list=[4, 8, 15, 16, 23, 42]
pd.Series(list)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
# ans:
variable=[1,2,3,4,5,6,7,8,9,10]
data=pd.Series(variable)
print(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
# Q3. Create a Pandas DataFrame that contains the following data:
dict={'Name':['Alice','Bob','Claire'],
              'Age':[25,30,27],
              'Gender':['Female','Male','Female']
        }
df=pd.DataFrame(dict)
df2 = df.to_string(index=False)
print(df2)

  Name  Age Gender
 Alice   25 Female
   Bob   30   Male
Claire   27 Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
ans:
DataFrame is a two-dimensional labeled data structure in Pandas, which is used for data manipulation and analysis. It is similar to a spreadsheet or SQL table, 
where data is organized in rows and columns. Each column can have a different data type (such as numeric, string, or boolean), and the rows and columns are both 
labeled, which makes it easy to access and manipulate data.

On the other hand, pandas.Series is a one-dimensional labeled array-like data structure in Pandas, which is used to store a single column or row of data. 
It is similar to a Python list or NumPy array, but with additional functionalities and labeled indexing.

Here an example that illustrates the difference between DataFrame and Series:
    
import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({
    'Name': ['John', 'Anna', 'Peter', 'Mike'],
    'Age': [25, 33, 42, 29],
    'Gender': ['M', 'F', 'M', 'M']
})

# Creating a Series
ages = pd.Series([25, 33, 42, 29])

# Displaying the DataFrame and Series
print(df)
print(ages)

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
ans:
Pandas provides a wide range of functions for manipulating and analyzing data in a DataFrame. Here are some of the most common functions:

1) head() and tail() - These functions allow you to view the first or last few rows of a DataFrame. For example, df.head() will return the first five rows of a DataFrame, while df.
                       tail() will return the last five rows.

2) info() - This function provides information about the DataFrame, including the number of rows and columns, data types, and any missing values.

3) describe() - This function provides statistical information about the DataFrame, including the count, mean, standard deviation, minimum, maximum, 
                and quartile values for each numeric column.

4) drop() - This function allows you to remove one or more rows or columns from a DataFrame. For example, df.drop('column_name', axis=1) will drop a column with 
            the name 'column_name'.

5) groupby() - This function allows you to group the data in a DataFrame by one or more columns and perform aggregations on the groups. For example, 
               df.groupby('column_name').mean() will group the data by values in 'column_name' and return the mean of each group.

6) sort_values() - This function allows you to sort the data in a DataFrame by one or more columns. For example, df.sort_values('column_name') will sort 
                   the data by the values in 'column_name'.

7) fillna() - This function allows you to fill missing values in a DataFrame with a specified value or method. For example, df.fillna(0) will replace all 
              missing values in the DataFrame with 0.

8) merge() - This function allows you to join two or more DataFrames based on a common column. For example, pd.merge(df1, df2, on='column_name') will join two 
             DataFrames based on the values in 'column_name'.

9) apply() - This function allows you to apply a function to each element or column of a DataFrame. For example, df['column_name'].apply(lambda x: x*2) will multiply 
          each value in the column 'column_name' by 2.

10)pivot_table() - This function allows you to create a summary table of the data in a DataFrame based on one or more columns. For example, 
                  pd.pivot_table(df, values='value_column', index='index_column', columns='column_to_group_by') will create a summary table of the data, 
                  where the rows are grouped by 'index_column', the columns are grouped by 'column_to_group_by', and the values are taken from 'value_column'.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
ans:
In Pandas, both Series and DataFrame are mutable, which means you can modify their contents after creation. However, 
Panel is deprecated in the current version of Pandas (1.3.3) and has been replaced by other data structures like MultiIndex, 
so it is not relevant to discuss its mutability.